.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3rem;
}
.logginForm {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px #000000bb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
}
.logginForm label {
  color: #2e2e2e;
}
.logginForm input {
  border: 1px solid #ccc;
  width: 400px;
  min-width: 260px;
  padding: 6px;
}
.logginForm input:focus {
  outline-color: #000000bb;
}